@font-face {
  font-family: "Kaushan";
  src: url("../fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Mashan";
  src: url("../fonts/MaShanZheng-Regular.ttf");
}
@font-face {
  font-family: "Handlee";
  src: url("../fonts/Handlee-Regular.ttf");
}
@font-face {
  font-family: "Amita";
  src: url("../fonts/Amita-Regular.ttf");
}
@font-face {
  font-family: "Dancing";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Rozha";
  src: url("../fonts/RozhaOne-Regular.ttf");
}
@font-face {
  font-family: "Kalam";
  src: url("../fonts/Kalam-Regular.ttf");
}
@font-face {
  font-family: "Titillium";
  src: url("../fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
  font-family: "Scheherazade";
  src: url("../fonts/Scheherazade-Regular.ttf");
}
@font-face {
  font-family: "Architect";
  src: url("../fonts/ArchitectsDaughter-Regular.ttf");
}
.header {
  background-color: #579c87;
  text-align: center;
  width: 100%;
}
.header__heading {
  font-family: "Roboto", "Titillium", "Trebuchet MS", Arial, sans-serif;
  letter-spacing: -7px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 80px;
  animation: header-heading 1.1s linear;
}
.header__heading a {
  text-decoration: none;
  color: #fdcb46;
}

@keyframes header-heading {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  80% {
    opacity: 1;
  }
}
.footer {
  background-color: #579c87;
  font-family: "Titillium";
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer__contact {
  padding: 18px 15px 18px 15px;
  font-size: 25px;
}
.footer__contact a {
  display: block;
  text-decoration: none;
  color: #fdcb46;
}
.footer__contact a:hover {
  animation: bounce 0.8s ease-out;
}

@keyframes bounce {
  20%, 50%, 80%, to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}
* {
  margin: 0;
}

.main {
  background-color: white;
  margin: 30px;
  margin-bottom: 150px;
  font-family: "Titillium";
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .titre {
  margin: 10px 0 40px 0;
  font-size: 40px;
  font-weight: bold;
}
.main .retour {
  margin-top: 50px;
  padding: 2px 0 2px 0;
  background-color: #579c87;
  width: 30%;
  border-radius: 7px/7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.main .retour a {
  text-decoration: none;
  color: #fdcb46;
  transform: scale(1);
  transition: transform ease 0.7s;
}
.main .retour a:hover {
  transform: scale(1.4);
  animation: retour 0.7s forwards;
}

.card {
  background-color: rgba(255, 179, 179, 0.4);
  width: 100%;
  box-shadow: 2px 2px 20px #ccc;
}
.card .entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.card .entete__titre {
  font-family: "Mashan";
  font-size: 50px;
  font-weight: normal;
}
.card .entete__img {
  padding: 55px 0 33px 0;
  height: 105px;
  width: 105px;
}
.card .entree-plat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .entree-plat__titre {
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 22px 0 22px 0;
  font-family: "Kalam";
}
.card .entree-plat__titre img {
  width: 200px;
  height: 30px;
}
.card .entree-plat__titre h3 {
  font-size: 28px;
  position: relative;
  display: block;
  margin: 0px 30px;
  cursor: pointer;
}
.card .entree-plat__titre h3::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: scaleX(0);
  transition: transform 0.8s ease-in-out;
  transform-origin: left;
}
.card .entree-plat__titre h3:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  border-bottom: 4px solid red;
}
.card .entree-plat__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card .entree-plat__content .plat {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
  font-family: "Kalam";
  font-size: 25px;
  align-items: fle;
}
.card .entree-plat .plat .descriptif {
  width: 70%;
}
.card .entree-plat .plat .descriptif--dessert {
  width: 89%;
}
.card .pied {
  display: flex;
  justify-content: center;
  margin: 60px 0 130px 0;
}
.card .pied__titre {
  display: flex;
  align-items: center;
  font-family: "Mashan";
  font-size: 40px;
  font-weight: normal;
}
.card .pied__img {
  height: 50px;
  width: 50px;
}

@keyframes retour {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  85% {
    opacity: 0.66;
  }
  100% {
    opacity: 0.5;
  }
}

/*# sourceMappingURL=note.css.map */
