@font-face {
    font-family:"Kaushan";
    src: url("../fonts/KaushanScript-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Handlee";
    src: url("../fonts/Handlee-Regular.ttf");
}
@font-face {
    font-family: "Amita";
    src: url("../fonts/Amita-Regular.ttf");
}
@font-face {
    font-family: "Dancing";
    src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Rozha";
    src: url("../fonts/RozhaOne-Regular.ttf");
}
@font-face {
    font-family: "Kalam";
    src: url("../fonts/Kalam-Regular.ttf");
}
@font-face {
    font-family: "Titillium";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}
@font-face {
    font-family: "Scheherazade";
    src: url("../fonts/Scheherazade-Regular.ttf");
}
@font-face {
    font-family: "Architect";
    src: url("../fonts/ArchitectsDaughter-Regular.ttf");
}
@font-face {
    font-family: "Yellowtail";
    src: url("../fonts/Yellowtail-Regular.ttf");
}