/*------ Couleurs ------*/

$color-primary: #579c87;
$color-secondary: #fdcb46;
$note-enchantee-bg: rgba($color: #ffb3b3, $alpha: 0.4);
$chic-a-la-francaise-bg: rgba($color: #ddb5e7, $alpha: 0.2);
$delice-des-papilles-bg: rgba($color: #F9F9F9, $alpha: 1);
$palette-du-gout-bg: rgba($color: #FDFFFD, $alpha: 0.3);

/*------ Font-Size ------*/

$bloc-menu-detail__name-fs: 30px;
$bloc-menu-detail__menu-fs: 20px;
$h3-fs: 28px;