@import "fonts";
@import "variables";
@import "header";
@import "footer";

* {
    margin: 0;
}

.main {
    background-color: white;
    margin: 30px;
    margin-bottom: 150px;
    font-family: "Titillium";
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .titre {
        margin: 10px 0 40px 0;
        font-size: 40px;
        font-weight: bold;
    }
    .retour {
        margin-top: 50px;
        padding: 2px 0 2px 0;
        background-color: $color-primary;
        width: 30%;
        border-radius: 7px / 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        a {
            text-decoration: none;
            color: $color-secondary;
            transform: scale(1);
            transition: transform ease 0.7s;
        }
        a:hover {
            transform: scale(1.4);
            animation: retour 0.7s forwards; 
        }
    }
}

.card {
    background-color: $chic-a-la-francaise-bg;
    width: 950px;
    box-shadow: 2px 2px 20px #ccc;
    padding-bottom: 60px;
    .entete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
        &__titre {
            font-family: "Amita";
            margin-top: 60px;
            font-size: 50px;
            font-weight: normal;
            background-image: linear-gradient(to right, #b285ee 0%,#e2a162 100%);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }
        &__img {
            padding: 55px 0 33px 0;
            height: 105px;
            width: 105px;
        }
    }
    .entree-plat {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Scheherazade";
        line-height: 33px;
        &--orange {
            color: #E2A164;
        }
        &--mauve {
            color: #A6679A;
        }
        &--violet {
            color: #6E4BCD;
        }
        &__titre {
            height: 85px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 22px 0 22px 0;
        }
        &__titre img {
            width: 200px;
            height: 30px;
        }
        &__titre h3 {
            font-size: $h3-fs;
            position: relative;
            display: block;
            margin: 0px 30px;
            padding-bottom: 5px;
            cursor: pointer;
        }  
        &__titre h3::after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            transform: scaleX(0);
            transition: transform 0.8s ease-in-out;
            transform-origin: left;
        }
        &__titre h3:hover::after {
            transform: scaleX(1);
            transform-origin: left;
            border-bottom: 4px solid #E2A164;
        }
        &__titre--mauve h3:hover::after {
            border-bottom: 4px solid #A6679A;
        }
        &__titre--violet h3:hover::after {
            border-bottom: 4px solid #6E4BCD;
        }
        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &__content .plat {
            display: flex;
            justify-content: space-around;
            margin: 20px 0 20px 0;
            font-size: 30px;
            align-items: center;
        }
        .plat .descriptif {
            width: 55%;
        }
        .plat .descriptif--dessert {
            width: 77%;
        }
    }
}

@keyframes retour {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.8;
    }
    85% {
        opacity: 0.66;
    }
    100% {
        opacity: 0.5;
    }
}

@media screen and (max-width: 320px)
{
    body {
        width: fit-content;
    }
}