@import "fonts";
@import "variables";
@import "header";
@import "footer";

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.main {
    background-color: white;
    height: 100%;
    margin: 30px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__title {
        font-size: 40px;
        font-family: "Titillium Web","Trebuchet MS","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
        font-weight: bold;
    }
}

.page {
    background-color: $note-enchantee-bg;
    height: 75%;
    width: 95%;
    box-shadow: 2px 2px 20px #ccc;
    &__entete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
            font-family: "Mashan";
            font-size: 50px;
            font-weight: normal;
        }
        &__img {
            padding: 55px 0 33px 0;
            height: 105px;
            width: 105px;
        }
    }
}

.header {
    background-color: $color-primary;
    text-align: center;
    width: 100%;
    &__heading {
        font-family: "Roboto", "Titillium Web","Trebuchet MS",Arial,sans-serif;
        letter-spacing: -7px;
        padding-top: 18px;
        padding-bottom: 18px;
        font-size: 80px;
        a {
            text-decoration: none;
            color: $color-secondary;
        }
    }
}

.footer {
    background-color: $color-primary;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    &__contact {
        padding: 18px 15px 18px 15px;
        font-size: 25px;
        a {
            text-decoration: none;
            color: $color-secondary;
        }
    }
}